p HELLO
- if user_signed_in?
  p "Welcome #{current_user.email}"
  p= link_to "Sign out", destroy_user_session_path, :method => :delete
- else
  p= link_to "Sign in", new_user_session_path
  p= link_to "Sign up", new_user_registration_path
