- if flash[:error]
  div class="error"
    = flash[:error]

p Users searched by #{@search}

- @users.each do |user|
  p Email: #{user.email} Rating: #{user.elo_rating} Games won: #{user.games_won}
  = link_to 'Challenge', challenge_path(email: user.email), method: :post

