p All ended games with the results

- @games.each do |game|
  p="Challenger: #{game.challenger.email} Challenged: #{game.challenged.email} Winner: #{game.winner&.email} Result: #{game.result} Accepted: #{game.challenger_accepted && game.challenged_accepted}"
