div.results
  p Pending results:
  - @pending_result.each do |pe|
    hr
    p= "Challenger: #{pe.challenger.email}"
    p= "Challenged: #{pe.challenged.email}"
    = form_tag send_result_game_path(pe), method: :post do
      h3 Challenger score
      = number_field_tag :challenger_result, 0, in: 0..15
      h3 Challenged score
      = number_field_tag :challenged_result, 0, in: 0..15
      h3 Submit
      = submit_tag 'Click'

div.accept
  p Pending accept:
  - @pending_accept.each do |pa|
    hr
    p= "Challenger: #{pa.challenger.email}"
    p= "Challenged: #{pa.challenged.email}"
    p= pa.result
    = form_tag accept_result_game_path(pa), method: :post do
      h3 Submit
      = submit_tag 'Click'

