- if flash[:error]
  div class="error"
    = flash[:error]

p All players sorted by their rating

- @users.each do |user|
  p #{user['email']} #{user['elo_rating']}
  = link_to 'Challenge', challenge_path(email: user['email']), method: :post

