p= link_to "All players", players_path
p= link_to "All games ", games_path
=form_tag users_search_path, method: :get do
  = text_field_tag :email
  = submit_tag 'Search fuzzy'

p= link_to 'Games pending ', pending_games_path
p= link_to 'Home', root_path
